@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #2b2e37;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.posts {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.posts li {
  width: 30%;
  margin-bottom: 27px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.posts li:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2), 0 10px 30px 0 rgba(0,0,0,0.19);
}

.posts-slider {
  display: none;
  position: relative;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.wrap {
  width: 30%;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
  margin: 80px auto;
  top: 0;
}

.modalSlider {
  display: flex;
  transition: all 0.4s ease;
  animation-name: slide;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slide {
  0% {
    top: -50%;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
} 

.show { display: flex; }

.slide {
  min-width: 100%;
  transition: all .3s ease;
}

.btn {
  width: auto;
  top: 43%;
  position: absolute;
  cursor: pointer;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  font-size: 32px;
  text-indent: -9999px;
}

#prev::before {
  content: '\f053';
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}
#next::before {
  content: '\f054';
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

#prev { 
  padding: 10px 20px 5px 15px;
  left: 20%; 
}

#next {
  padding: 10px 15px 5px 20px;
  right: 20%;
}

.btn:hover { background-color: rgba(0,0,0,0.5); }

.slide-dots {
  padding: 10px 0;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 40px;
  left: 0;
}

.dot {
  text-align: center;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background: rgba(255,255,255,0.4);
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  transition: background-color 0.3s ease;
}

.close {
  position: absolute;
  right: 25%;
  top: 80px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
  text-indent: -9999px;
}

.close::before,
.close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.close:hover { opacity: 1; }
.close::before{ transform: rotate(45deg); }
.close::after{ transform: rotate(-45deg); }
.transition-active { transition: transform 0.4s ease-in-out; }
.transition-inactive { transition: all 0s; }
.dot-active { background: #fff;}
.dot:hover {background-color: rgba(0,0,0,0.3);}

/*=================================
  main styling ends here
=================================*/
